snippet beg "begin-end"
begin
	${1:${VISUAL}}
end
$0
endsnippet

snippet if "if-else"
if begin
	$1
end else begin
	$2
end
$0
endsnippet

snippet for "for"
for (${2:${1:i} = 0}; ${3:$1 < SIZE}; ${4:$1 = $1 + 1}) begin
	$5
end
$0
endsnippet

snippet gen "generate block"
generate
	genvar ${1:i}
	for ($1 = 0; $1 < ${2:SIZE}; $1 = $1+1) begin ${3:name}
		$4
	end
endgenerate
$0
endsnippet
